.text{
  font-weight:bold;
  font-family:Roboto;
  font-size: 20px;
}
.sub-btn{
  color:white;
  background-color: black;
  border-radius:12px;
  padding:7px 13px 7px 13px;
  border:1px solid black;  
  font-size:15px;
}
p{
  font-family:Roboto;
  
  font-size:18px;
}
.enterCost{
   padding:1
}
.enterCost::placeholder{
  color:rgb(107, 104, 104);
}